.l-indiegogo-recommend{}

// banner
.l-indiegogo-banner{
  ul{
    padding-left: 5px;
    padding-top: 10px;
    li{
      float: left;
      margin-left: 8px;
      &:nth-child(1){
        margin-left: 0px;
        }
    }
  }
}

.l-indiegogo-masonry{
  width: 1200px;
  margin: 0 auto;
}

.u-indiegogo-rome{
    margin: 20px 9px;
    a{
    display: inline-block;
    width: 100%;
    height: 45px;
    background: #8b8a7c;
    text-align: center;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    font-family: "Microsoft Yahei";
    .border-radius(4px);
    }
}

.transitions-enabled.masonry,.transitions-enabled.masonry .masonry-brick{-webkit-transition-duration:0.7s;-moz-transition-duration:0.7s;-o-transition-duration:0.7s;transition-duration:0.7s;}
.transitions-enabled.masonry{-webkit-transition-property:height, width;-moz-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width;}
.transitions-enabled.masonry .masonry-brick{-webkit-transition-property:left, right, top;-moz-transition-property:left, right, top;-o-transition-property:left, right, top;transition-property:left, right, top;}
/* 禁用容器上的转变 */
.transitions-enabled.infinite-scroll.masonry{-webkit-transition-property:none;-moz-transition-property:none;-o-transition-property:none;transition-property:none;}
/* showpic */
.showpic .actions{display:none;}
.showpic h3{line-height:22px;margin:10px 0 0 0;padding:5px 10px;border-top:solid 1px #F5F2F2;font-size: 16px;color: #000; overflow:hidden;}
.showpic:hover .actions{display:block;}
.showpic:hover img{filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;}
.showpic{position:relative;float:left;margin:8px;_margin:0px 4px;border:solid 1px #ddd;width:280px;font-size:12px;background:#fff;}
.showpic .picbox{text-align:center;}
.showpic .picbox img{width: 100%}
.showpic .intro{line-height:22px;margin:10px 0 0 0;padding:5px 10px;border-top:solid 1px #F5F2F2;color: #5E5E5E;}
.showpic .actions{position:absolute;top:5px;left:0;z-index:3;width:100%;}
.showpic .actions .lefter{float:left;margin:0 0 0 5px;display:inline;}
.showpic .actions .righter{float:right;}
.showpic .actions .righter a{margin:0 5px 0 0;}

.p-outter {
    overflow: hidden;
    padding: 5px 10px;
}
.p-outter .p-bar {
    height: 3px;
    background: #e6e6e6;
    line-height: 0;
}
.p-outter .p-b-slide {
    float: left;
    height: 3px;
    background: #ffe501;
}
.p-outter .p-items {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}
.p-outter .p-items .p-i-infos {
    float: left;
    height: 36px;
    margin-left: -15px;
}
.p-outter .p-items .fore1, .p-outter .p-items .fore2, .p-outter .p-items .fore3 {
    position: relative;
    padding-left: 15px;
    float: left;
}
.p-outter .p-items .fore1 {
    width: 70px;
}
.p-outter .p-items .fore2 {
    width: 98px;
}
.p-outter .p-items .fore3 {
    width: 50px;
}
.p-outter .p-items .p-percent {
    font-size: 14px;
    color: #5e5e5e;
    line-height: 18px;
    padding: 0;
}
.p-outter .p-items .p-extra {
    color: #a5a5a5;
    padding: 0;
}
.p-outter .p-items .v-line {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 36px;
    background: #e7e7e7;
}
.zc-icons{
    position: absolute;
    left: -1px;
    top: 0;
    z-index: 15;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 30px;
    color: #1E1F21;
    font-style: normal;
}

.smll-icons.zc-icons {
    background: #FFE501;
}